html, body {
	margin: 0;
}

body {
	font-family: 'SofiaPro', Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: 400;
	color: #414042;
	line-height: 1;
	background-color: #d2d2d2;
	-webkit-font-smoothing: antialiased;
	padding: 30px 36px;
}

@media screen and (max-device-width: 640px) {
	body {
		padding: 45px 36px;
	}
}

a, a:visited {
	color: #f1f2f2;
	text-decoration: none;
}

a:hover {
	color: #000000;
}

p {
	margin: 0;
}

footer {
	margin-top: 54px;
	font-size: 38px;
	line-height: 1.1;
}

.plus {
	font-size: 48px;
}


